<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
</head>
<body>
    <app-nav></app-nav>
    
    <div class="d-flex align-items-center justify-content-center ">

            <div class="m-4 col-md-10 col-lg-6 col-xl-6 shadow p-3 f border border-top-0">

                <div class="col-12 text-center mb-5">
                    <h2>Mi perfil</h2><i class="fa-solid fa-id-card-clip fa-2xl"></i>
                </div>
                
              <form action class="example-form">
                
                <div class="row ">
                    <div class="mb-3 form-group col-4">
                        <label for="email" class="col-form-label">Nombre</label>
                        <input 
                        *ngFor="let misDatos of misDatos"
                        value="{{misDatos.nombre}}"
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"/>
                    </div>
    
    
                    <div class="mb-3 form-group col-4">
                        <label for="email" class="col-form-label ">Apellido</label>
                        <input 
                        *ngFor="let misDatos of misDatos"
                        value="{{misDatos.apellido}}"
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput2"/>
                    </div>

                    <div class="mb-3 form-group col-4">
                        <label for="text" class="col-form-label ">Rol</label>
                        <input disabled
                        *ngFor="let misDatos of misDatos"
                        value="{{misDatos.nombre_rol}}"
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput3"/>
                    </div>
                    

                    <div class="mb-3 form-group col-12">
                        <label for="email" class="col-form-label ">Celula</label>
                        <select class="form-select" aria-label="Default select example">
                            <option *ngFor="let misDatos of misDatos" value="{{misDatos.nombre_celula}}">{{misDatos.nombre_celula | titlecase}}</option>
                        </select>
                    </div>

                    <div class="mb-3 form-group col-12">
                        <label for="email" class="col-form-label ">Tipo de documento</label>
                        <select class="form-select" aria-label="Default select example">
                            <option *ngFor="let misDatos of misDatos" value="{{misDatos.nombre_tipo_documento}}">{{misDatos.nombre_tipo_documento}}</option>
                        </select>
                    </div>

                    <div class="mb-3 form-group col-6">
                        <label for="email" class="col-form-label ">Número de cedula</label>
                        <input disabled
                        *ngFor="let misDatos of misDatos"
                        value="{{misDatos.documento}}"
                        type="number"
                        class="form-control"
                        id="exampleFormControlInput4"/>
                    </div>

                    
                    <div class="mb-3 form-group col-6">
                        <label for="email" class="col-form-label ">Email</label>
                        
                        <input disabled
                        *ngFor="let misDatos of misDatos"
                        value="{{misDatos.correo}}"
                        type="email"
                        class="form-control"
                        id="exampleFormControlInput5"/>
                    </div>
                </div>
      
                <!-- Submit button -->
                <div class="d-flex justify-content-around align-items-center row p-2 d-grid gap-3">
                <button type="submit" class="btn btn-info">Editar</button>
                
                </div>

              </form>
              <div class="d-flex justify-content-around align-items-center row p-2 d-grid gap-3">
                <button (click)="open(content)"type="submit" class="btn btn-secondary">Cambiar contraseña</button>
              </div>
            </div>
    </div>

        <!-- MODALES -->

<!-- Modal de cambiar contraseña -->

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Cambiar contraseña</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form action class="example-form">
            
            <div class="row">
                <div class="mb-3 form-group col-12">
                    <label for="email" class="col-form-label">Ingresa tu actual contraseña</label>
                    
                    <input 
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput6"/>
                </div>

                <div class="mb-3 form-group col-12">
                    <label for="email" class="col-form-label">Ingresa tu nueva contraseña</label>
                    
                    <input 
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput7"/>
                </div>

                <div class="mb-3 form-group col-12">
                    <label for="email" class="col-form-label">Confirma la nueva contraseña</label>
                    
                    <input 
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput8"/>
                </div>
            </div>  

          </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cambiar contraseña</button>
	</div>
</ng-template>

</body>
</html>

