<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.css"
    />
  </head>
  <body class="row aling-items-center justify-content-center vh-100">    



    <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="d-lg-flex col-lg-12 align-items-center p-5 border rounded-4 shadow f">

                    <div >
                        <div class="text-center">
                            <h1>Pagina no encontrada </h1>
                            <p>Al parecer intentaste ingresar a una pagina que no existe (╥﹏╥)</p>
                                <div class="d-flex justify-content-around align-items-center mb-3 row p-3"> 
                                    <button [routerLink]="['/login']" type="submit" class="btn btn-secondary">Ir a Logeo</button>
                                </div>
                          </div>
                    </div>
                    
                  <div class="col-md-12 col-lg-5 col-xl-5 offset-xl-1">
                      <img src="https://i.pinimg.com/originals/84/cb/54/84cb54eb28861d39ba4f7127e3bbd6ef.jpg" class="img-fluid" alt="Not-Found">
                  </div> 
                </div>
              </div>
    </section>  

  </body>

    

