<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.5/angular-material.min.css"
    />
  </head>
  <body class="row aling-items-center justify-content-center vh-100">

    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <form action class="example-form">
                <div class="col-12 text-center">
                    <h2>Inicia sesión</h2>
                </div>
                
                <div class="mb-3 form-group">
                    <label for="email" class="col-form-label ">Email</label>
                    
                      <input 
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@example.com"/>
                </div>


                <div class="mb-3 form-group">
                    <label for="pass" class="col-form-label">Password</label>
                  
                    <input
                      type="password"
                      class="form-control"
                      id="inputPassword"/>
                </div>
      

                <!-- Submit button -->
                <div class="d-flex justify-content-around align-items-center mb-3 row p-2">
                <button type="submit" class="btn btn-info">Ingresar como usuario</button>

                </div>
                <div class="d-flex justify-content-around align-items-center mb-3 row p-2">

                    <button type="submit" class="btn btn-secondary">Ingresar como admin</button>
                    </div>
      
                <div class="d-flex justify-content-around align-items-center mb-4">
                    <!-- Checkbox -->
                    <a href="#">Registrate haciendo click aquí</a>
                    <a href="#">Olvidaste tu contraseña?😱</a>
                  </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>

  </body>
