<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav admin</title>
  </head>
  <body>
    <nav class="container-fluid navbar bg-dark shadow">
      <div class="container-fluid">
        <a
          class="text-light bg-dark navbar-brand mb-0 h1 p-2"
          [routerLink]="['/nav-admin-index']"
          >Menú administrador</a
        >

        <div class="m-3 form-group">
          <a (click)="logOut()" [routerLink]="['/login']"
            ><i class="fa-solid fa-right-from-bracket icon"></i
          ></a>
        </div>
      </div>
    </nav>
  </body>
</html>

<app-admin-content></app-admin-content>
