<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
  </head>
  <body>

      <app-nav-admin-index ></app-nav-admin-index>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row d-flex">
      
              <div class="col-xl-12 col-sm-12 mt-3">
                  <div class="mx-auto">
                      <div class="input-group">
                          <input [(ngModel)]="busqueda" (keyup)="filtrarUsuario(busqueda)" placeholder="Busca un usuario aquí" class="form-control border-end-0 border rounded-pill m-2" type="search" id="example-search-input">
                          <span class="input-group-append">
                          </span>
                          <div class="col-xl-1 col-sm-2 mb-2">
                              <div class="mx-auto">
                                  <button type="button" (click)="open(content)" class="btn btn-outline-success m-2">Crear</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div> 
  
    <div *ngIf="_filterRows.length > 0" clas="container">
      <div class="table-responsive mt-3 m-3">
        <table class="table table-bordere shadow mb-5 f border border-top-0">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Usuario</th>
              <th scope="col">Rol</th>
              <th scope="col">Tipo documento</th>
              <th scope="col">Documento</th>
              <th scope="col">Célula</th>
              <th scope="col">Correo</th>
              <th scope="col">Estado</th>
              <th scope="col">Cambiar estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let usuarios of _filterRows">
            <tr>
              <th>{{ usuarios.id_usuario }}</th>
              <td>{{ usuarios.Nombre | titlecase }}</td>
              <td>{{ usuarios.nombre_rol | titlecase }}</td>
              <td>{{ usuarios.nombre_tipo_documento }}</td>
              <td>{{ usuarios.documento }}</td>
              <td>{{ usuarios.nombre_celula | titlecase }}</td>
              <td>{{ usuarios.correo }}</td>
              <td *ngIf="usuarios.id_estado_usuario === 1">{{ usuarios.id_estado_usuario === 1 ? "Activo" : "Inactivo" }}</td>
              <td *ngIf="usuarios.id_estado_usuario === 0">{{ usuarios.id_estado_usuario === 1 ? "Activo" : "Inactivo" }}</td>
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                </div>
              </td> 
              <td>
                <button class="btn btn-icon btn-sm" (click)="open(content)"><i class="m-2 fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-icon btn-sm" (click)="open(content)"><i class="m-2 fa-solid fa-trash"></i></button>  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="_filterRows.length == 0" clas="container">
      <div class="table-responsive mt-3 m-3">
        <h4>No hay datos para mostrar </h4>
      </div>
    </div>

<!-- MODALES -->

<!-- Modal de crear -->

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Crear usuario</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form action class="example-form">
            
            <div class="row">
                <div class="mb-3 form-group col-6">
                  <label for="exampleInputEmail1" class="form-label">Nombre del rol</label>
                    
                    <input 
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Pepito"/>
                </div>

                <div class="mb-3 form-group col-6">
                  <label for="exampleInputEmail1" class="form-label">Apellido</label>
                    
                    <input 
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Perez"/>
                </div>

                <div class="mb-3 form-group">
                  <label for="email" class="col-form-label ">Email</label>
                  
                    <input 
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Pepito@Perez.com"/>
              </div>
                
                <div class="mb-3 form-group col-12">
                  <label for="exampleInputEmail1" class="form-label"> Celula</label>
                  <select class="form-select" aria-label="Default select example">
                  <option *ngFor="let celulas of celulas" value="{{celulas.id_celula}}">{{celulas.nombre_celula | titlecase}}</option>
                  </select>
              </div>

              <div class="mb-3 form-group col-12">
                <label for="exampleInputEmail1" class="form-label"> Tipo de documento</label>
                <select class="form-select" aria-label="Default select example">
                <option *ngFor="let documento of documento" value="{{documento.id_tipo_documento}}">{{documento.nombre_tipo_documento | titlecase}}</option>
                </select>
            </div>

            <div class="mb-3 form-group col-6">
              <label for="exampleInputEmail1" class="form-label">Cédula</label>
                
                <input 
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="123"/>
            </div>

            <div class="mb-3 form-group col-6">
              <label for="pass" class="col-form-label">Contraseña</label>
            
              <input
                type="password"
                class="form-control"
                id="inputPassword"/>
          </div>

            </div>  

          </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" >Crear usuario</button>
	</div>
</ng-template>

  </body>
</html>
