<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <app-nav-admin-index></app-nav-admin-index>


    <div class="m-auto mt-5  col-xl-8 col-sm-8 ">
        <div class="shadow mb-5 f border border-top-0" >
         <div class="row m-1">
             <div class="row col-12">
                 <div class="form-group d-flex justify-content-center">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Tipo documento</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Id célula</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Id rol</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let usuarios of usuarios">
                          <tr>
                            <th scope="row">{{usuarios.id_usuario}}</th>
                            <td>{{usuarios.Nombre}}</td>
                            <!-- *ngIf="row.estado === 1 || row.estado === 2" -->
                            <td> {{usuarios.id_estado_usuario}}</td>
                            <td>{{usuarios.nombre_tipo_documento}}</td>
                            <td>{{usuarios.documento}}</td>
                            <td>{{usuarios.nombre_celula | titlecase}}</td>
                            <td>{{usuarios.correo}}</td>
                            <td>{{usuarios.nombre_rol | titlecase}}</td>
                          </tr>
                        </tbody>
                      </table>
                 </div>
             </div>
          </div>  
        </div>
    </div>               

    
</body>
</html>
